<div class="container">
	<h2>
	  Магазин батарей для ноутбуков
	</h2>
	<div class="row">
	<div class="span2">
			 <div id="menu_text">
			  Поиск по модели ноутбука:
			  </div>
			  <ul class="nav nav-tabs nav-stacked">
			    <li><a href="#">Acer</a></li>
				<li><a href="#">Apple</a></li>
			    <li><a href="#">Asus</a></li>
				<li><a href="#">Dell</a></li>
				<li><a href="#">Fujitsu-Siemens</a></li>
			    <li><a href="#">HP-Compaq</a></li>
				<li><a href="#">IBM-Lenovo</a></li>
				<li><a href="#">LG</a></li>
			    <li><a href="#">MSI</a></li>
				<li><a href="#">Samsung</a></li>
				<li><a href="#">Sony</a></li>
			    <li><a href="#">Toshiba</a></li>
			  </ul>
			</div>
	      <div class="span8 offset1" id="txb_search">
	      <div align="center">
	        Помощь. Тут вся нужная вам информация
	      </div>
		  </div>
	    </div>
</div>