<div class="center hero-unit">
  <h2>
    Game's stats and ratings
  </h2>
  <%= form_tag(id_path, method: "get") do %>
    <%= label_tag(:searchForm, "Steam user's name, e.g. qshaman") %>
    <%= text_field_tag(:searchForm) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
