<h2 align=center>Редактирование батареи</h2>
<div class="container">
	<div class="row">
		<div class="span6 offset1">
			<%= render 'form' %>
			
<%= link_to 'Показать', @battery %> |
<%= link_to 'Назад', batteries_path %>
		</div>
	</div>
</div>
