<% if signed_in? && admin? %>
<h2 align=center>Новая батарея</h2>
<div class="container">
	<div class="row">
	<div class="span6 offset1">
		<%= render 'form' %>
		<%= link_to 'Назад', batteries_path %>
		</div>
	</div>
</div>
<% end %>