
<div class="container">
    <div class="row center" >
          <h3 class="navbar-text" style="margin-left:30%; float:left">
            Для связи: email@batterystore.com, 8 908 999-888-7
          </h3>
          <h3 class="navbar-text"  align="right">
            <a href="http://www.ibatt.ru/" id="SteamLabel"> Сайт учебный</a>
          </h3>
    </div>
  </div>
