<div class="span2">
  <div id="menu_text">
	Поиск по модели ноутбука:
  </div>
  <ul class="nav nav-tabs nav-stacked">
      <% Company.order(:name).each do |company|%>
		<li><%= link_to company.name, company %></li>
      <% end %>
  </ul>
</div>
